body {
  background-color: black;
  color: white;
  margin: 0;
}


text {
  font: 12px verdana;
         fill: white;
}
path.line {
  fill: none;
  stroke: #666;
  stroke-width: 3px;
}

path.area {
  fill: #FFFFFF;
}

.axis {
  shape-rendering: crispEdges;
}

.x.axis line {
  fill: none;
  stroke: #FFFFFF;
}

.x.axis .minor {
  stroke-opacity: .5;
}

.x.axis path {
  display: none;
}

.y.axis line, .y.axis path {
  fill: none;
  stroke: #FFFFFF;
}

